# Personal Hyprland configuration managed by chezmoi.
source = ~/.config/hypr/common.conf

{{- $hostname := .chezmoi.hostname -}}
{{- $hypr := .hyprland -}}
{{- if has $hostname $hypr.desktop.hostnames }}
source = ~/.config/hypr/{{ $hypr.desktop.include }}
{{- else if has $hostname $hypr.dell_laptop.hostnames }}
source = ~/.config/hypr/{{ $hypr.dell_laptop.include }}
monitor = {{ $hypr.dell_laptop.monitor }}
env = GDK_SCALE,{{ $hypr.dell_laptop.gdk_scale }}
input {
  touchpad {
    natural_scroll = {{ $hypr.dell_laptop.touchpad_natural_scroll }}
    scroll_factor = {{ $hypr.dell_laptop.touchpad_scroll_factor }}
  }
}
{{- else if has $hostname $hypr.macbook_air.hostnames }}
source = ~/.config/hypr/{{ $hypr.macbook_air.include }}
monitor = {{ $hypr.macbook_air.monitor }}
env = GDK_SCALE,{{ $hypr.macbook_air.gdk_scale }}
{{- range $hypr.macbook_air.unbinds }}
unbind = {{ . }}
{{- end }}
{{- range $hypr.macbook_air.binds }}
bindd = {{ . }}
{{- end }}
input {
  touchpad {
    natural_scroll = {{ $hypr.macbook_air.touchpad_natural_scroll }}
    scroll_factor = {{ $hypr.macbook_air.touchpad_scroll_factor }}
  }
}
{{- end }}
