[Desktop Entry]
Name=KeePassXC
GenericName=Password Manager
Comment=Community-driven port of the Windows application "KeePass Password Safe"
Exec=/home/kob/.local/bin/keepassxc-launch-or-focus
TryExec=keepassxc
Icon=/usr/share/icons/hicolor/256x256/apps/keepassxc.png
StartupWMClass=keepassxc
StartupNotify=false
Terminal=false
Type=Application
Version=1.5
Categories=Utility;Security;Qt;
MimeType=application/x-keepass2;
SingleMainWindow=true
X-GNOME-SingleWindow=true
Keywords=security;privacy;password-manager;yubikey;password;keepass;
